@import "tailwindcss";

@layer base {
    body {
        @apply overflow-x-hidden leading-tight;
    }

    html {
        @apply overflow-x-hidden scroll-smooth;
    }
}

@theme {
    --color-*: initial;

    --font-sen: "Sen", sans-serif;

    --breakpoint-*: initial;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 90rem;
}

@layer components {
    .container {
        @apply mx-auto w-full max-w-90 px-5 md:max-w-[688px] md:px-10 lg:max-w-[1296px] lg:px-[72px];
    }
}

@layer utilities {
    @media (min-width: 48rem) {
        .md\:font-heading78px {
            @apply font-sen text-[78px] font-bold;
        }
    }

    @media (min-width: 90rem) {
        .lg\:font-heading78px {
            @apply font-sen text-[78px] font-bold;
        }
    }
}
